{% extends 'base.html.twig' %}

{% block title %}Listes des Structures{% endblock %}

{% block body %}

{% include 'navigation.html.twig' %}

    <h1 class = "structure">Listes des structures</h1>
    

{{ form_start(form)}}
    	<div class="sidebar__item">
		{{ form_row(form.q, {"attr": {"class": "form-control pl-30", "id": "site-search"}}) }}
	</div>
    {{ form_end(form) }}

{% for structure in structures %}


    <table class="table"> 
    <div class="col">
    <ul>
            <ul class = "titre">
                <li>Nom</li>
                <ul class = "liste">
                <li>{{ structure.nom }}</li> 
                </ul>
            </ul>
               <ul class = "titre">
                <li>Description</li>
                <ul class = "liste">
                <li>{{ structure.Description }}</li>
                </ul> 
            <ul class = "titre">
                <li>adresse</li>
                <ul class = "liste">
                <li>{{ structure.adresse }}</li>
            </ul> 
            <ul class = "titre">
                <li>acitf/Inactif</li>
                <ul class = "liste">
                <li>{{ structure.active ? 'Oui' : 'Non' }}</li>
            </ul> 
            <ul class = "titre">
            <li>Permissions</li>
            <ul class = "liste">
           {% for structurePerm in structure.getStruturesperms() %}
                <li>{{ structurePerm.getNom2() }}</li>
              {% endfor %}
            </ul> 
    </ul>     
        {% else %}
            <tr>
                <td colspan="5">Pas de structures trouvées</td>
            </tr>
        {% endfor %}
         
      
       </div>
    </table>



   {% if app.user.roles[0] is same as("ROLE_ADMIN") %}

    <a class = "nouvelle" href="{{ path('app_structures_new') }}">Créer une nouvelle structure</a>

 {% endif %}
{% endblock %}
